openapi: '3.0.0'
info:
  version: 0.0.3
  title: Zam.io Получить примерную скорость и стоимость транзакции
  description: "Zam.io Получить примерную скорость и стоимость транзакции"
servers:
  - url: https://zam.io

paths:
  '/api/calculation':
    get:
      summary: запрос примерной скорости и стоимости транзакции
      security:
        - bearerAuth: [ ]
      parameters:
        - name: priority
          in: query
          description: приоритет проведения транзакции (по умолчанию MEDIUM)
          required: false
          schema:
            type: string
            enum:
            - 'TOP'
            - 'MEDIUM'
        - name: blockchainFrom
          in: query
          description: наименование искомой платформы
          required: true
          schema:
            type: string
        - name: blockchainTo
          in: query
          description: наименование целевой платформы
          required: true
          schema:
            type: string
        - name: addressContractFrom
          in: query
          description: адрес контракта искомого кошелька
          required: false
          schema:
            type: string
        - name: addressContractTo
          in: query
          description: адрес контракта целевого кошелька
          required: false
          schema:
            type: string
        - name: adressFrom
          in: query
          description: искомый адрес кошелька
          required: true
          schema:
            type: string
        - name: addressTo
          in: query
          description: целевой адрес кошелька
          required: true
          schema:
            type: string
        - name: amount
          in: query
          description: количество криптовалюты
          required: true
          schema:
            type: string
        - name: paymentRestrictionTransaction
          in: query
          description: ограничение платы за рассчет транзакции
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Успешная операция
          content:
            application/json:
              schema:
                properties:
                  meta:
                    $ref: '#/components/schemas/Meta'
                  data:
                    $ref: '#/components/schemas/PredictionTransactionResponseData'
        '400':
          description: Некорректный формат входных параметров
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResult'
        '408':
          description: Время ожидания истекло
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResult'
        '500':
          description: Внутренняя ошибка сервера
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResult'
        '503':
          description: Сервис недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExceptionResult'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Meta:
      type: object
      description: Метаинформация об ответе
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Текстовый код исключения
          enum:
            - 'OK' #statuscode=200
          example: 'OK'
        message:
          type: string
          description: Дополнительная информация
          enum:
            - 'Операция выполнена' #statuscode=200
          example: 'Операция выполнена'
        description:
          type: string
          description: Пользовательская информация о результате выполнения метода
          example: 'Запрос получен. Ожидайте выполнения'
    PredictionTransactionResponseData:
      type: object
      description: предсказание скорости и стоимости транзакции
      required:
        - blockchainFrom
        - blockchainTo
        - addressFrom
        - addressTo
        - currencyFrom
        - currencyTo
        - amount
        - commission
        - dateActual
      properties:
        blockchainFrom:
          type: string
          description: наименование искомой платформы
        blockchainTo:
          type: string
          description: наименование целевой платформы
        addressContractFrom:
          type: string
          description: адрес контракта искомого кошелька
        addressContractTo:
          type: string
          description: адрес контракта целевого кошелька
        adressFrom:
          type: string
          description: искомый адрес кошелька
        addressTo:
          type: string
          description: целевой адрес кошелька
        currency:
          type: string
          description: сокращение криптовалюты
        amount:
          type: string
          description: количество криптовалюты
        commission:
          type: array
          items:
            $ref: '#/components/schemas/CommissionData'
        dateActual:
          type: string
          description: дата и время предсказания
    CommissionData:
      type: object
      description: информация о комиссиях транзакции
      required:
        - paymentTransaction
        - commission
      properties:
        paymentTransaction:
          type: string
          description: примерная оплата за рассчет транзакции
        commissionTransaction:
          type: string
          description: комиссия за совершение транзакции
    ExceptionResult:
      type: object
      properties:
        meta:
          $ref: '#/components/schemas/ExceptionMeta'
        data:
          type: object
    ExceptionMeta:
      type: object
      description: Метаинформация об ответе
      required:
        - status
        - message
      properties:
        status:
          type: string
          description: Текстовый код исключения
          enum:
            - 'BAD_REQUEST' #statuscode=400
            - 'UNAUTHORIZED' #STATUSCODE=401
            - 'FORBIDDEN' #STATUSCODE=403
            - 'NOT_FOUND' #STATUSCODE=404
            - 'REQUEST_TIMEOUT' #STATUSCODE=408
            - 'ERROR' #statuscode IN [500,503]
          example: 'ERROR'
        message:
          type: string
          description: Дополнительная информация
          enum:
            - 'Набор параметров или тип указаны неверно' #statuscode=400
            - 'Ошибка авторизации' #statuscode=401
            - 'Недостаточно прав для получения информации' #statuscode=403
            - 'Данные не найдены' #statuscode=404
            - 'Время ожидания истекло' #statuscode=408
            - 'Внутренняя ошибка сервера' #statuscode=500
            - 'Сервис недоступен' #statuscode=503
          example: 'Сервис недоступен'
        description:
          type: string
          description: Пользовательская информация о результате выполнения метода
